<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${bankId}">Bank</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type='text/javascript' src='/webjars/jquery/jquery.min.js'
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type='text/javascript' src='/webjars/bootstrap/js/bootstrap.min.js'
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <style type="text/css">
        body {
            margin-top: 100px;
        }
    </style>
</head>

<div th:replace="header::header">&nbsp;</div>

<body>

<div class="container">


    <section>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Loan Request</h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/saveBankLoanStatus"  th:object="${bankRequest}">
                    <input type="hidden" name="id" th:field="*{id}"/>
                    <input type="hidden" name="loanRequestId" th:field="*{loanRequestId}"/>
                    <input type="hidden" name="bankId" th:field="*{bankId}"/>
                    <input type="hidden" name="customerId" th:field="*{customerId}"/>
                    <input type="hidden" name="name" th:field="*{name}"/>
                    <input type="hidden" name="bsn" th:field="*{bsn}"/>
                    <input type="hidden" name="salary" th:field="*{salary}"/>
                    <input type="number" name="amount" th:field="*{amount}" placeholder="Approved Amount" readonly="true"/>
                    <input type="text" name="purpose" th:field="*{purpose}" placeholder="Interest Rate" readonly="true"/>
                    <input type="number" name="approvedAmount" th:field="*{approvedAmount}" placeholder="Approved Amount"/>
                    <input type="number" name="interestRate" th:field="*{interestRate}" placeholder="Interest Rate"/>
                    <input type="text" name="comments" th:field="*{comments}" placeholder="Comments"/>
                    <input type="submit" name="Save" class="login loginmodal-submit" value="Save"/>
                </form>
            </div>
        </div>
    </section>


    <section th:if="${not #lists.isEmpty(bankRequests)}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Loan Requests</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Amount Approved</th>
                        <th>Interest Rate</th>
                        <th>Comments</th>
                        <th>Approved</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="r:${bankRequests}">
                        <td th:text="${r.id}"></td>
                        <td th:text="${r.approvedAmount}"></td>
                        <td th:text="${r.interestRate}"></td>
                        <td th:text="${r.comments}"></td>
                        <td th:text="${r.approved}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>


</div>

</body>


<div th:replace="footer::footer">&nbsp;</div>


</html>




